body {
  background: blanchedalmond;
  margin: 0;
}

* {
  border: 1px solid white;
}

.container{
  display: flex;
  min-height: 100vh;
  flex-direction: row;
  flex-wrap: wrap;
}

.a {
  background-color: red;
  height: 20vh;
  max-width: 100%;
  flex-basis: 100%;
}
.b, .c, .d, .e, .f, .g {
  height: 20vh;
  width: 33%
}
.b {
  background-color: blue;
}

.c {
  background-color: green;
}

.d {
  background-color: yellow;
}

.e {
  background-color: orange;
}

.f {
  background-color: purple;
}

.g {
  background-color: cyan;
}

.h {
  background-color: pink;
  height: 40vh;
  max-width: 100%;
  flex-basis: 100%;
}

@media (min-width: 600px) {
  .container {
    flex-direction: row;
  }
  .a {
    flex-basis: 100%;
    max-width: 100%;
  }
  }