body {
  background: papayawhip;
  margin: 1em;
}

* {
  border: 1px solid white;
}
.new {
  display: flex;
  min-height: 100vh;
  justify-content: space-between;
  flex-wrap: wrap;
}

.b{
background-color: blue;
}

.c{
  background-color: green;
}

.d{
  background-color: yellow;
}

.e{
  background-color: orange;
}